<!doctype html>
{%load static%}
{%load bootstrap4%}
<html lang="en">
  <head>
    <title>{%block title%}{%endblock%}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--  Fonts and icons  -->
      <!-- Fonts and icons -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Include Your own css & js -->
      {%block addintohead%}
      {%endblock%}


    <!-- Material Kit CSS -->
     <link href="{%static 'css/material-kit.css'%}?v=2.0.4" rel="stylesheet" />
  </head>
  <body><nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"  color-on-scroll="100">
  <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{%url 'home'%}">
         <img src="{% static 'img/logo.png' %}" width="170" height="30" class="d-inline-block align-top" alt="AuctionHouse"> 
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
      					<a class="nav-link" href="{%url 'auction_guide'%}">
      						<i class="material-icons">dynamic_feed</i> Auction Guide
      					</a>
      				</li>
                    <li class="dropdown nav-item">
                              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                                  <i class="material-icons">account_balance</i> Auctions
                              </a>
                              <div class="dropdown-menu dropdown-with-icons">
                                <a class="nav-link" href="{%url 'auctions:upcomming_auction_list'%}">
                                    <center><i class="material-icons">house</i> UpComming Auctions</center>
      					        </a>
                                  <a class="nav-link" href="{%url 'auctions:current_auction_list'%}">
                                       <center> <i class="material-icons">account_balance</i> Current Auctions</center>
                                  </a>
                                  <a class="nav-link" href="{%url 'auctions:finished_auctions'%}">
      						        <center><i class="material-icons">account_balance</i> Finished Auctions</center>
      					        </a>
                              </div>
                    </li>
                    <li class="nav-item">
      					<a class="nav-link" href="{%url 'auctions:become_agent'%}">
      						<i class="material-icons">person_add</i> Become Agent
      					</a>
      				</li>
                            <li class="dropdown nav-item">
                              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                                  <i class="material-icons">apps</i> Acitvity
                              </a>

                                <div class="dropdown-menu dropdown-with-icons">
                                    <a href="{%url 'agent_list'%}" class="dropdown-item">
                                    <i class="material-icons">person_add</i> Agent List Approvals
                                </a>
                                <a href="{%url 'auction_approve_list'%}" class="dropdown-item">
                                    <i class="material-icons">chrome_reader_mode</i> Auction Approvals
                                </a>

                                    <a href="{%url 'schedule_list'%}" class="dropdown-item">
                                    <i class="material-icons">add_alarm</i> Auction Scheduling
                                </a>
                                    <a href="{%url 'auctions:logout'%}" class="dropdown-item">
                                    <i class="material-icons">exit_to_app</i> Logout
                                </a>
                                </div>

                            </li>

          </ul>
      </div>
  </div>
</nav>


<div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.alphacoders.com/435/thumb-1920-435117.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1 >Welocome</h1>
          <h3  class="title text-center">Auction Manager</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <h2 class="title"  id="scroll">{%block heading%}{%endblock%}</h2>
        {%block content%}{%endblock%}
        <br>
    </div>
  </div>
</div>

<footer class="footer footer-default" >
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="{%url 'home'%}">
              AuctionHouse

          </li>
          <li>
          </a>
             <a href="{%url 'contact_us'%}">
              Contact US
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, Developed By <i class="material-icons">favorite</i>
        <a href="#" target="blank">AuctionHouse Team</a>
    </div>
  </div>
</footer>
<!--   Core JS Files   -->
 <script src="{%static 'js/core/jquery.min.js'%}" type="text/javascript"></script>
  <script src="{%static 'js/core/popper.min.js'%}" type="text/javascript"></script>
  <script src="{%static 'js/core/bootstrap-material-design.min.js'%}" type="text/javascript"></script>
  <script src="{%static 'js/plugins/moment.min.js'%}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="{%static 'js/plugins/bootstrap-datetimepicker.js'%}" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{%static 'js/plugins/nouislider.min.js'%}" type="text/javascript"></script>
<!--  Google Maps Plugin  -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
 <script src="{%static '/js/material-kit.js'%}?v=2.0.4" type="text/javascript"></script>
  <script>
$('.datetimepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm:ss',
  icons: {
    time: "fa fa-clock-o",
    date: "fa fa-calendar",
    up: "fa fa-chevron-up",
    down: "fa fa-chevron-down",
    previous: 'fa fa-chevron-left',
    next: 'fa fa-chevron-right',
    today: 'fa fa-screenshot',
    clear: 'fa fa-trash',
    close: 'fa fa-remove'
  }
});
  </script>
    <script>
    $(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#scroll').offset().top
    }, 'slow');
});
</script>
  </body>
</html>
