
{%extends 'auctions/admin/admin_base.html'%}
{%load static%}
{%load bootstrap4%}
{%block heading%}
AgentList
{%endblock%}
{%block content%}
<br>
<hr>
   <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Agent Id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile</th>
                <th scope="col">Email</th>
                <th scope="col">Photo</th>
                {% comment %} <th scope="col">Resume</th>
                <th scope="col">Approve</th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
            {% for agent in agentuser_list %}
                {% if not agent.approved %}
                    <tr>
                    <th scope="row">{{ agent.pk }}</th>
                    <td>{{ agent.first_name }}</td>
                    <td>{{ agent.address }}</td>
                    <td>{{ agent.mobile }}</td>
                    <td>{{ agent.email }}</td>
                    {% comment %} <td><a href="{{ agent.image.url }}" target="_blank" class="btn btn-sm btn-simple">View Photo</a></td>
                    <td><a href="{{ agent.resume_document.url }}" target="_blank" class="btn btn-sm btn-simple">View Resume</a></td> {% endcomment %}
                    <td><a href="{% url 'approve_agent' pk=agent.pk %}" class="btn btn-sm btn-danger">approve</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            </table>
{%endblock%}