{% extends 'base.html'%}

{% block title%}Forgot Password{% endblock%}


{% block heading %}
Enter Your Email
{% endblock heading %}


{% block content%}

{% if messages %}
    {% for message in messages %}
        <b><p style="color: red; text-align: center;">{{ message }}</p></b>
    {% endfor %}
{% endif %}

<div class="container">
    <form method="post" action="{% url 'auctions:forgot_password_email' %}">
        {%csrf_token%}
         <div class="form-group">
            <label for="email">Password</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email to receive the OTP!">
        </div>
        <input type="submit" value="Send OTP" class="btn btn-primary">
    </form>
</div>
{% endblock%}