{% extends 'base.html'%}

{% block title%}Forgot Password{% endblock%}


{% block heading %}
Enter Your Email
{% endblock heading %}


{% block content%}

{% if messages %}
    {% for message in messages %}
        <b><p style="color: red; text-align: center;">{{ message }}</p></b>
    {% endfor %}
{% endif %}

<div class="container">
    <form method="post">
        {%csrf_token%}
         <div class="form-group">
            <label for="otp">Password</label>
            <input type="text" class="form-control" id="otp" name="otp" placeholder="Enter the 6 digits OTP that received in mail.">
        </div>
        <br/>
        Haven't received OTP - <a href="">Resend OTP!</a><br/>
        <input type="submit" value="Submit OTP" class="btn btn-primary">
    </form>
</div>
{% endblock%}