{%extends 'base.html'%}
{%block title%}
Profile Details
{%endblock%}
{%block content%}
<div class="container">
                <div class="row">
	                <div class="col-md-4 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="{{userdetails.image.url}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
                           <br/>
	                        <div class="name">
	                            <h3 class="title">{{userdetails.user.first_name}} {{userdetails.user.last_name}}</h3>
								<h6 >Customer's Profile</h6>
<!--								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
<!--                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>-->
                                <div class="container" >
                                    <center>
                                        <table  cellpadding="7" border="0">
                                            <tr >
                                                <td colspan="5"><h5 > Username:</h5></td>
                                                <td ><h5 > {{userdetails.user.username}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > Email:</h5></td>
                                                <td><h5 > {{userdetails.user.email}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > mobile:</h5></td>
                                                <td><h5 > {{userdetails.mobile}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > address:</h5></td>
                                                <td><h5 > {{userdetails.address}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > birth date:</h5></td>
                                                <td><h5 > {{userdetails.birth_date}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > city:</h5></td>
                                                <td><h5 > {{userdetails.city}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > state:</h5></td>
                                                <td><h5 > {{userdetails.state}}</h5></td>
                                            </tr>
                                             <tr>
                                                <td colspan="5"><h5 > pincode:</h5></td>
                                                <td><h5 > {{userdetails.pincode}}</h5></td>
                                            </tr>
                                        </table>
                                    </center></div>
	                        </div>
	                    </div>
    	            </div>
                </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="{%url 'auctions:profile_update' pk=userdetails.pk%}" role="tab" >
                                  <i class="material-icons">create</i>
                                  Edit Profile
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
                </div>
</div>
{%endblock%}