{%extends 'base.html'%}
{%load bootstrap4%}
{%load static%}
{%block heading%}
Auction Guide
{%endblock%}
{%block content%}
<br>
<br>
<hr>


<div class="contentBox" align="left">
    <div class="pageHead"><h3><b>Live Auction</b></h3></div>

    <h4><b>AuctionHouse provides comprehensive services to sell all types of properties across the India.</b></h4>

    <p><b>Liked a property? Bid on your favorite one and get the best deal by following some easy steps-:</b></p>

<div class="main-contentList" align="left">
<ul>
	<li>Register yourself with AuctionHouse</li>
	<li>Select your desired location in which you want to purchase the property</li>
	<li>Check out the properties listed and select your favorite one</li>
    <li>Visit the property During Viewing Hours</li>
	<li>Pay a nominal registration fee*</li>
	<li>Bid the amount you agree to pay for the&nbsp;property in a given time frame</li>
    <li>Time will be extended with 3 minutes if the bidding is done during last 3 minutes, Consider it as virtual hammer.</li>
    <li>At the end of the auction timer the highest bidder will be considered as winner.</li>
	<li>If you are the lucky one, then the property is yours!</li>
</ul>
<hr>
<p><em>Note:&nbsp; No extra cost&nbsp;apart &nbsp;from nominal registration fee&nbsp;based on actual property price will be charged from bidders</em></p>

<div class="clear">&nbsp;</div>
</div>
</div>

{%endblock%}