<html>
{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>Profile Details</title>
<head>
    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <script src="{%static 'js/profile.js'%}"></script>
</head>

<body class="profile-page">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="../index.html">Auction House</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>


<!--                      <ul class="nav navbar ml-auto">-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">View Actions</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:profile_detail' pk=user.pk%}">Profile</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:logout'%}">Logout</a>-->
<!--                      </li>-->
<!--                          <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'auctions:auction_list' %}">Current Auctions</a>-->
<!--                      </li>-->
<!--                    </ul>-->



<!--                    <ul class="nav navbar ml-auto">-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'auctions:become_agent' %}">Become Agent</a>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Auction Guide</a>-->
<!--                      </li>-->
<!--                        <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:signup'%}">SignUp</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:login'%}">LogIn</a>-->
<!--                      </li>-->
<!--                    </ul>-->





            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Current Auctions
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Become Agent
      					</a>
      				</li>
                    {% if user.is_authenticated %}
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                          <i class="material-icons">apps</i> Acitvity
                      </a>
                      <div class="dropdown-menu dropdown-with-icons">
                        <a href="../index.html" class="dropdown-item">
                            <i class="material-icons">layers</i> Profile
                        </a>

                         <a href="http://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                            <i class="material-icons">content_paste</i> View Auctions
                        </a>

                        <a href="http://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Wish List
                        </a>

                          <a href="http://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Logout
                        </a>
                      </div>
                    </li>
                    {% else %}

                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Auction Guide
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Sign Up
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Log In
      					</a>
      				</li>
      				<li class="nav-item">
      					<a class="nav-link" href="https://twitter.com/CreativeTim" target="_blank">
      						<i class="fa fa-twitter"></i>
      					</a>
      				</li>
                      {% endif %}
      				<li class="nav-item">
      					<a class="nav-link" href="https://www.facebook.com/CreativeTim" target="_blank">
      						<i class="fa fa-facebook-square"></i>
      					</a>
      				</li>
      				<li class="nav-item">
      					<a class="nav-link"  href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
      						<i class="fa fa-instagram"></i>
      					</a>
      				</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-8 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
	                        <div class="name">
	                            <h3 class="title">{{userdetails.user.first_name}} {{userdetails.user.last_name}}</h3>
								<h6>Buyer's Profile</h6>
<!--								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
<!--                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>-->
                                <div class="container">
                                    <center>
                                        Username:{{userdetails.user.username}}
                                        Email:{{userdetails.user.email}}
                                        mobile:{{userdetails.mobile}}
                                        address:{{userdetails.address}}
                                        birth_date:{{userdetails.birth_date}}
                                        city:{{userdetails.city}}
                                        state:{{userdetails.state}}
                                        pincode:{{userdetails.pincode}}
                                    <a href="{%url 'auctions:profile_update' pk=userdetails.pk %}" class="btn btn-primary"></a>
                                    <span class="glyphicon glyphicon-remove"></span>
                                            </center>

                                </div>
	                        </div>
	                    </div>
    	            </div>
                </div>
                <div class="description text-center">
                    <p> </p>
                </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="{%url 'auctions:profile_update' pk=userdetails.pk%}" role="tab" data-toggle="tab">
                                  <i class="material-icons">create</i>
                                  Edit Profile
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
        </div>
	</div>

	<footer class="footer text-center ">
        <p>Made with <a href="https://demos.creative-tim.com/material-kit/index.html" target="_blank">Material Kit</a> by Creative Tim</p>
    </footer>

    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

        </div>

    </div>
</body>
</html>

<!--{%load bootstrap4%}-->
<!--{%block title%}-->
<!--Profile Page-->
<!--{%endblock%}-->
<!--{%block heading%}-->
<!--        <center><h1>Profile Details</h1></center>-->
<!--        {%endblock%}-->
<!--{%block content%}-->

<!--{%endblock%}-->