{% extends 'base.html'%}

{% block title%}Agent | Set Password{% endblock%}


{% block heading %}
<br/>
<br/>
<br/>
    <script>
    $(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#scroll').offset().top
    }, 'slow');
});
</script>
<center id="scroll"><h1>Set Password</h1></center>
{% endblock heading %}


{% block content%}
<div class="container">
    <form method="post">
        {%csrf_token%}
         <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <label for="confirm password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm password" name="confirm password" placeholder="Confirm Password">
        </div>
        <input type="submit" value="Set Password" class="btn btn-primary">
    </form>
</div>
{% endblock%}