{%extends 'base.html'%}

{%load bootstrap4%}

{% block title %}
SignUp
{% endblock %}

{% block heading %}
<script>
    $(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#scroll').offset().top
    }, 'slow');
});

</script>
    <center id='scroll'><h1>SignUp</h1></center>
    <hr>
{% endblock heading %}


{% block content %}

<div  class="container">
    <form method="post" >
        {%csrf_token%}
        {%bootstrap_form form%}
        <input type="submit" value="SignUp" class="btn btn-default">
    </form>
</div>
{% endblock %}