<html>
{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>Profile Details</title>
<head>
    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <script src="{%static 'js/profile.js'%}"></script>

</head>

<body class="profile-page">

    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="../index.html">Auction House</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>


<!--                      <ul class="nav navbar ml-auto">-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">View Actions</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:profile_detail' pk=user.pk%}">Profile</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:logout'%}">Logout</a>-->
<!--                      </li>-->
<!--                          <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'auctions:auction_list' %}">Current Auctions</a>-->
<!--                      </li>-->
<!--                    </ul>-->



<!--                    <ul class="nav navbar ml-auto">-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{% url 'auctions:become_agent' %}">Become Agent</a>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Auction Guide</a>-->
<!--                      </li>-->
<!--                        <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:signup'%}">SignUp</a>-->
<!--                      </li>-->
<!--                      <li class="nav-item">-->
<!--                        <a class="nav-link" href="{%url 'auctions:login'%}">LogIn</a>-->
<!--                      </li>-->
<!--                    </ul>-->





            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Current Auctions
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Become Agent
      					</a>
      				</li>
                    {% if user.is_authenticated %}
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                          <i class="material-icons">apps</i> Acitvity
                      </a>
                      <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">person</i> Profile
                        </a>

                         <a href="#" class="dropdown-item">
                            <i class="material-icons">library_books</i> View Auctions
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="material-icons">assignment</i> Wish List
                        </a>

                          <a href="{%url 'auctions:logout'%}" class="dropdown-item">
                            <i class="material-icons">exit_to_app</i> Logout
                        </a>
                      </div>
                    </li>
                    {% else %}

                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Auction Guide
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="{%url 'auctions:signup'%}">
      						<i class="material-icons">account_box</i> Sign Up
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="{%url 'auctions:login'%}">
      						<i class="material-icons">account_circle</i> Log In
      					</a>
      				</li>
      				<li class="nav-item">
      					<a class="nav-link" href="https://twitter.com/CreativeTim" target="_blank">
      						<i class="fa fa-twitter"></i>
      					</a>
      				</li>
                      {% endif %}
<!--      				<li class="nav-item">-->
<!--      					<a class="nav-link" href="https://www.facebook.com/CreativeTim" target="_blank">-->
<!--      						<i class="fa fa-facebook-square"></i>-->
<!--      					</a>-->
<!--      				</li>-->
<!--      				<li class="nav-item">-->
<!--      					<a class="nav-link"  href="https://www.instagram.com/CreativeTimOfficial" target="_blank">-->
<!--      						<i class="fa fa-instagram"></i>-->
<!--      					</a>-->
<!--      				</li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
    <div class="main main-raised">
		<div class="profile-content">
            <div class="container">
                <div class="row">
	                <div class="col-md-8 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
                                {%if userdetails.image.url%}
                                <img src="{{userdetails.image.url}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
<!--	                            <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTU0NjQzOTk4OTQ4OTkyMzQy/ansel-elgort-poses-for-a-portrait-during-the-baby-driver-premiere-2017-sxsw-conference-and-festivals-on-march-11-2017-in-austin-texas-photo-by-matt-winkelmeyer_getty-imagesfor-sxsw-square.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">-->
                                {%else%}
                                <img src="https://cdn.business2community.com/wp-content/uploads/2017/08/blank-profile-picture-973460_640.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                                {%endif%}
	                        </div>
	                        <div class="name">
	                            <h3 class="title">{{user.first_name}} {{user.last_name}}</h3>
								<h6>Buyer's Profile</h6>

                                <div class="container">
                                <h1 class="title">Please Setup Your Profile</h1>
                                    <div class="container">
                                        {%if user.user.profile_setup %}
                                        <form method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                             <div class="file-field input-field">
                                                <h5 class="title">Select Your New Profile Image:
                                              <div class="btn">
                                                <span></span>
                                                {{form.image}}
                                              </div>
<!--                                              <div class="file-path-wrapper">-->
<!--                                                <input class="file-path validate" type="text">-->
<!--                                              </div>-->
                                                </h5>
                                            </div>

                                            <h5 class="title">Enter Your New Address: {{form.address}}</h5>
                                            <h5 class="title">Enter Valid Mobile Number: {{form.mobile}}</h5>
                                            <h5 class="title">Select City: {{form.city}}</h5>
                                            <h5 class="title">Select State: {{form.state}}</h5>
                                            <h5 class="title">Enter The Pincode: {{form.pincode}}</h5>
                                            <input class="waves-effect waves-light btn" type="submit" value="Save Details">
                                    </form>
                                    {%else%}
                                        <form method="post" enctype="multipart/form-data" >
                                            {%csrf_token%}
                                             <div class="file-field input-field">
                                                <h5 class="title">Select Your New Profile Image:
                                              <div class="btn">
                                                <span></span>
                                                {{form.image}}
                                              </div>
<!--                                              <div class="file-path-wrapper">-->
<!--                                                <input class="file-path validate" type="text">-->
<!--                                              </div>-->
                                                </h5>
                                            </div>

                                            <h5 class="title">Enter Your New Address: {{form.address}}</h5>
                                            <h5 class="title">Enter Valid Mobile Number: {{form.mobile}}</h5>
                                            <h5 class="title">Enter Valid BirthDate: {{form.birth_date}}</h5>
                                            <h5 class="title">Select City: {{form.city}}</h5>
                                            <h5 class="title">Select State: {{form.state}}</h5>
                                            <h5 class="title">Enter The Pincode: {{form.pincode}}</h5>
                                            <input class="waves-effect waves-light btn" type="submit" value="Save Details">
                                        </form>
                                    {%endif%}
                                    </div>
                                </div>
	                        </div>
	                    </div>
    	            </div>
                </div>
        </div>
	</div>

	<footer class="footer text-center ">
        <p><a href="#" target="_blank">Material Kit</a> By Auction House</p>
    </footer>

    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

        </div>

    </div>
</body>
</html>

<!--{%load bootstrap4%}-->
<!--{%block content%}-->
<!--<h1>Please Setup Your Profile</h1>-->
<!--<div class="container">-->
<!--    <form method="post" enctype="multipart/form-data">-->
<!--    {%csrf_token%}-->
<!--    {%bootstrap_form form%}-->
<!--    <input type="submit" class="btn btn-primary btn-large" value="Save">-->
<!--</form>-->
<!--</div>-->
<!--{%endblock%}-->