<!DOCTYPE html>
{%load static%}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<title>{%block title%}{%endblock%}</title>
<head>

    <link rel="stylesheet" href="{%static 'css/profile.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <script src="{%static 'js/profile.js'%}"></script>

</head>

<body class="profile-page">

    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="{%url 'home'%}">Auction House</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Current Auctions
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="{%url 'auctions:become_agent'%}">
      						<i class="material-icons">cloud_download</i> Become Agent
      					</a>
      				</li>
                    {% if user.is_authenticated %}
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                          <i class="material-icons">apps</i> Acitvity
                      </a>
                      <div class="dropdown-menu dropdown-with-icons">
                        <a href="#" class="dropdown-item">
                            <i class="material-icons">person</i> Profile
                        </a>

                         <a href="#" class="dropdown-item">
                            <i class="material-icons">library_books</i> View Auctions
                        </a>

                        <a href="#" class="dropdown-item">
                            <i class="material-icons">assignment</i> Wish List
                        </a>

                          <a href="{%url 'auctions:logout'%}" class="dropdown-item">
                            <i class="material-icons">exit_to_app</i> Logout
                        </a>
                      </div>
                    </li>
                    {% else %}

                    <li class="nav-item">
      					<a class="nav-link" href="#">
      						<i class="material-icons">cloud_download</i> Auction Guide
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="{%url 'auctions:signup'%}">
      						<i class="material-icons">account_box</i> Sign Up
      					</a>
      				</li>
                    <li class="nav-item">
      					<a class="nav-link" href="{%url 'auctions:login'%}">
      						<i class="material-icons">account_circle</i> Log In
      					</a>
      				</li>
<!--      				<li class="nav-item">-->
<!--      					<a class="nav-link" href="https://twitter.com/CreativeTim" target="_blank">-->
<!--      						<i class="fa fa-twitter"></i>-->
<!--      					</a>-->
<!--      				</li>-->
                      {% endif %}
<!--      				<li class="nav-item">-->
<!--      					<a class="nav-link" href="https://www.facebook.com/CreativeTim" target="_blank">-->
<!--      						<i class="fa fa-facebook-square"></i>-->
<!--      					</a>-->
<!--      				</li>-->
<!--      				<li class="nav-item">-->
<!--      					<a class="nav-link"  href="https://www.instagram.com/CreativeTimOfficial" target="_blank">-->
<!--      						<i class="fa fa-instagram"></i>-->
<!--      					</a>-->
<!--      				</li>-->
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" data-parallax="true" style="background-image:url('http://wallpapere.org/wp-content/uploads/2012/02/black-and-white-city-night.png');"></div>
    <div class="main main-raised">
		<div class="profile-content">
        <br/>
        <br/>
        <br/>
        {%block heading%}

        {%endblock heading%}
        {%block content%}


        {%endblock%}
	</div>

	<footer class="footer text-center ">
        <p><a href="#" target="_blank">Material Kit</a> By Auction House</p>
    </footer>

    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

        </div>

    </div>
</body>
</html>
