{%extends 'base.html'%}
{%load bootstrap4%}

{%block title%}
Welcome To AuctionHouse
{%endblock%}


{%block content%}
    {%if user.is_authenticated%}
        {%for current_user in users%}
            {%ifequal user.username current_user.username%}
                {%ifequal current_user.profile_setup False %}
                <div class="container">
                    <form method="post">
                    {%csrf_token%}
                    {%bootstrap_form form%}
                    <input type="submit" class="btn btn-primary btn-large" value="Save" required="required">
                </form>
                {%endifequal%}
            {% endifequal %}
        {%endfor%}
    {%else%}
        <p>Not authenticated....</p>
    {%endif%}
{%endblock%}