{%extends 'auctions/agent/agent_base.html'%}
{%block title%}
Profile Details
{%endblock%}
{%block content%}
<div class="container">
                <div class="row">
	                <div class="col-md-4 ml-auto mr-auto">
        	           <div class="profile">
	                        <div class="avatar">
	                            <img src="{{agentuser.image.url}}" alt="Circle Image" class="img-raised rounded-circle img-fluid">
	                        </div>
                           <br/>
	                        <div class="name">
	                            <h3 class="title">{{agentuser.first_name}} {{agentuser.last_name}}</h3>
								<h6>Agent's Profile</h6>
<!--								<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>-->
<!--                                <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>-->
<!--                                <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>-->
                                <div class="container">
                                    <center>
                                       <h5 class="title"> Username:{{agentuser.username}}</h5>
                                        <h5 class="title">Email:{{agentuser.email}}</h5>
                                        <h5 class="title">mobile:{{agentuser.mobile}}</h5>
                                        <h5 class="title">address:{{agentuser.address}}</h5>
                                        <h5 class="title">birth date:{{agentuser.birth_date}}</h5>
                                        <h5 class="title">city:{{agentuser.city}}</h5>
                                        <h5 class="title">state:{{agentuser.state}}</h5>
                                        <h5 class="title">pincode:{{agentuser.pincode}}</h5>
                                        <h5 class="title">pincode:{{agentuser.resume_document}}</h5>
                                        <h5 class="title">pincode:{{agentuser.proof_document}}</h5>
                                    </center></div>
	                        </div>
	                    </div>
    	            </div>
                </div>
				<div class="row">
					<div class="col-md-6 ml-auto mr-auto">
                        <div class="profile-tabs">
                          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="{%url 'auctions:agent_update' pk=agentuser.pk%}" role="tab" >
                                  <i class="material-icons">create</i>
                                  Edit Profile
                                </a>
                            </li>
                          </ul>
                        </div>
    	    	</div>
                </div>
</div>
{%endblock%}