{%extends 'auctions/agent/agent_base.html'%}
{%load bootstrap4%}
{% block title %}
Evaluation List
{% endblock %}
{% block heading %}
Approve Evaluation List
{% endblock heading %}
{% block content %}
<br>
<hr>
<div class="container">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Property Id</th>
        <th scope="col">User email</th>
        <th scope="col">Type</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Approved</th>
        <th scope="col"></th>
        {% comment %} <th scope="col">Resume</th>
        <th scope="col">Approve</th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
    {% for prop in propertyreg_list %}
    <a href="{% url 'auctions:agent_property_details' pk=prop.pk %}"></a>
            <tr>
            <th scope="row">{{ prop.pk }}</th>
            <td>{{ prop.user.email }}</td>
            <td>{{ prop.property_type }}</td>
            <td>{{ prop.property_address }}</td>
            <td>{{ prop.city }}</td>
            <td>{{ prop.state }}</td>
            {% if not prop.approved %}
                <td>Not Approved</td>
            {% else %}
                <td>Approved</td>
            {% endif %}
            <td><a href="{% url 'auctions:agent_property_details' pk=prop.pk %}" class="btn btn-success">Details</a></td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}