{%extends 'base.html'%}
{%load bootstrap4%}
{%block title%}
Become Agent
{%endblock%}
{%block heading%}
<br/>
<br/>
<br/>
<script>

    $(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#scroll').offset().top
    }, 'slow');
});
</script>
<center id="scroll"><h1>Become an Agent</h1></center>
{%endblock heading%}
{%block content%}
<div class="container">
    <p>Please,Fill the details in given form.
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {%bootstrap_form form%}
        <input type="submit" value="Submit" class="btn btn-default">
    </form>
</div>
{%endblock%}